<%-include("./partials/header") %>
<div class="container booking_back set">
    <h4 class=" text-center font-weight-light w-100 mb-lg-4 pt-4" style="font-family: 'Poppins', sans-serif;">You are requesting a booking for <span style="color: #fe5000;"><%=camp.title%></span> </h4>
    <div class="row">
        <div class="col-lg-8">
            <div class="booking_box">
               <div class="row border rounded pt-lg-4 pl-lg-2" style="min-height: 40vh;">
                   <div class="col-lg-4 ">
                    <img src="<%=camp.img1%>" alt="" class=" shadow-sm p-1 bg-white rounded">
                   </div>
                   <div class="col-lg-8">
                       <div class="booking_text">
                        <h5><%=camp.title%></h5>
                        <p style="font-size: 14px;" class="d-none d-md-inline-block">Hosted By -<%=camp.author.username%></p>
                        <p style="font-size: 14px;"><i class="fas fa-map-marker-alt"></i> <%=camp.city%> , <%=camp.state%></p>
                        <hr class="d-none d-md-inline-block">
                       </div>
                   </div>
                <div class="calculate w-100">
                    <hr class="w-100 p-0 m-lg-2">
                    <%if(booking[1].numberOfPeople.nop1 > 0 || booking[1].numberOfPeople.nop2 > 0){%>
                    <%if(booking[0].qnty > 0){%>
                        <%if(booking[2].guide1 > 0){%>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Price per camp</td>
                                        <td><%=camp.price%> x <%=booking[1].numberOfPeople.nop1%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Tents</td>
                                        <td>600 x <%=booking[0].qnty%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Guide</td>
                                        <td>2000</td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <th scope="row"></th>
                                        <td style="font-size: 1.2rem;"><strong>Total</strong> </td>
                                        <td  style="font-size: 1.2rem;"><span class="result"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-sm special_button px-5 my-2 float-right mr-3 print">Proceed</button>                        
                        <%}else{%>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Price per camp</td>
                                        <td><%=camp.price%> x <%=booking[1].numberOfPeople.nop1%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Tents</td>
                                        <td>600 x <%=booking[0].qnty%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Guide</td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <th scope="row"></th>
                                        <td style="font-size: 1.2rem;"><strong>Total</strong> </td>
                                        <td style="font-size: 1.2rem;"><span class="result"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-sm special_button px-5 my-2 float-right mr-3 print print">Proceed</button>
                            <%}%>
                    <%}else{%>
                        <%if(booking[2].guide2 > 0){%>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Price per camp</td>
                                        <td><%=camp.price%> x <%=booking[1].numberOfPeople.nop2%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Tents</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Guide</td>
                                        <td>2000</td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <th scope="row"></th>
                                        <td style="font-size: 1.2rem;"><strong>Total</strong> </td>
                                        <td style="font-size: 1.2rem;"><span class="result"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-sm special_button px-5 my-2 float-right mr-3 print">Proceed</button>
                        <%}else{%>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Price per camp</td>
                                        <td><%=camp.price%> x <%=booking[1].numberOfPeople.nop2%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Tents</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Guide</td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <th scope="row"></th>
                                        <td style="font-size: 1.2rem;"><strong>Total</strong> </td>
                                        <td style="font-size: 1.2rem;"><span class="result"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-sm special_button px-5 my-2 float-right mr-3 print">Proceed</button>
                        <%}%>
                        <%}%>
                        
                    <%}else{%>
                        <p  style="color: crimson; font-size: 1.5rem;"><i class="fas fa-exclamation-triangle"></i> NUMBER OF PEOPLE ARE REQUIRED !!</p>
                        <%}%>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="margin-top: 10px;">
        <a class="btn btn-lg font-weight-bold btn-outline-danger mb-5" href="/ycampo/<%= camp._id %>" style="color:black ;"><i
                class="fa fa-arrow-left"></i> Go back</a>
    </div>
</div>

<script>
    calculate(`<%=booking%>`);
    function calculate(booking) {
        let num , result;
        let tent = Number(`<%=booking[0].qnty%>` * 600);
        if(`<%=booking[1].numberOfPeople.nop1%>` >0){
            num = Number(`<%=camp.price%>` * `<%=booking[1].numberOfPeople.nop1%>`);
        } 
        else{
            num = Number(`<%=camp.price%>` * `<%=booking[1].numberOfPeople.nop2%>`);
        }
        if (`<%=booking[2].guide1%>` > 0) {
            result = num + tent + Number(`<%=booking[2].guide1%>` * 2000);
        }else if (`<%=booking[2].guide2%>` > 0) {
            result = num + tent + Number(`<%=booking[2].guide2%>` * 2000);
        } else {
            result = num + tent;
        }
        let output = document.querySelector(".result");
        output.innerHTML = `<i class="fas fa-rupee-sign"></i>`+ Number(result);

    }
    document.querySelector(".print").addEventListener("click" , (select)=>{
        window.print();
    })
</script>
<%-include("./partials/footer") %>