<%-include("./partials/header") %>
<div class="container-fluid set">
    <div class="row " style="display:flex; flex-wrap:wrap;">
        <div class="col-lg-2">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none; color: black;">
                                Pricing
                            </button>
                        </h2>
                    </div>
            
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form action="/ycampo/camp/<%=ThisState%>" method="POST">
                                <div class="d-block"><input type="radio" name="cost[value]" value="1"> <span>Under 1500</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="2"> <span>1501-2000</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="3"> <span>2001-3000</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="4"> <span>3001+</span></div>
                                <button>save</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none; color: black;">
                                Activities
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                                <div class="d-block"><input type="radio" name="cost[value]" value="5"> <span>Kayaking</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="6"> <span>Hiking</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="7"> <span>WildLife</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="8"> <span>Cycling</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="9"> <span>Climbing</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="10"> <span>Trekking</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="11"> <span>Swimming</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="12"> <span>Campfire</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="13"> <span>off-roading</span></div>
                                <div class="d-block"><input type="radio" name="cost[value]" value="14"> <span>Boating</span></div>
                                <button>save</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none; color: black;">
                                Amenities
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="d-block"><input type="radio" name="cost[value]" value="15"> <span>Drinking water</span></div>
                            <div class="d-block"><input type="radio" name="cost[value]" value="16"> <span>Shower</span></div>
                            <div class="d-block"><input type="radio" name="cost[value]" value="17"> <span>Barbeque grills</span></div>
                            <div class="d-block"><input type="radio" name="cost[value]" value="18"> <span>Wifi</span></div>
                            <div class="d-block"><input type="radio" name="cost[value]" value="19"> <span>Good for groups</span></div>
                            <div class="d-block"><input type="radio" name="cost[value]" value="20"> <span>Charging Points</span></div>
                            <div class="d-block"><input type="radio" name="cost[value]" value="21"> <span>Toilets</span></div>
                            <div class="d-block"><input type="radio" name="cost[value]" value="22"> <span>Picnic tables</span></div>
                            <button>save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 pr-lg-0">
            <%if(present){%>
               <%camp.forEach(function(k){%>
                    <%if( Number(cost.value) == 1 && k.price <= 1500 && k.state==ThisState ){%>
                            <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                                <div class="campground_img">
                                    <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                                </div>
                                <div class="campground_text pl-3">
                                    <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                                class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                    <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                    <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                    <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a><% if (k.rating === 0) { %>
                                    <em>No reviews yet.</em>
                                    <% } else { %>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                    <% } %>
                                </div>
                            </div> 
                    <%}else if( Number(cost.value) == 2 && k.price > 1500 && k.price< 2000 && k.state==ThisState ){%>
                            <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                                <div class="campground_img">
                                    <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                                </div>
                                <div class="campground_text pl-3">
                                    <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                                class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                    <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                    <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                    <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">read more</a><% if (k.rating === 0) { %>
                                    <em>No reviews yet.</em>
                                    <% } else { %>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                    <% } %>
                                </div>
                            </div> 
                    <%} else if( Number(cost.value) == 3 && k.price >2000 && k.price < 3000 && k.state==ThisState ){%>
                            <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                                <div class="campground_img">
                                    <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                                </div>
                                <div class="campground_text pl-3">
                                    <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                                class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                    <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                    <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                    <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a><% if (k.rating === 0) { %>
                                    <em>No reviews yet.</em>
                                    <% } else { %>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                    <% } %>
                                </div>
                            </div> 
                    <%} else if( Number(cost.value) == 4 && k.price > 3000 && k.state==ThisState ){%>
                            <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                                <div class="campground_img">
                                    <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                                </div>
                                <div class="campground_text pl-3">
                                    <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                                class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                    <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                    <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                    <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a><% if (k.rating === 0) { %>
                                    <em>No reviews yet.</em>
                                    <% } else { %>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                    <% } %>
                                </div>
                            </div> 
                    <%}else if (Number(cost.value== 5 ) && k.activity.find(e => e=="KAYAKING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 6 ) && k.activity.find(e => e=="HIKING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 7 ) && k.activity.find(e => e=="WILDLIFE WATCHING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 8 ) && k.activity.find(e => e=="CYCLING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 9 ) && k.activity.find(e => e=="CLIMBING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 10 ) && k.activity.find(e => e=="TREKKING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 11 ) && k.activity.find(e => e=="SWIMMING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 12 ) && k.activity.find(e => e=="CAMPFIRE") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 13 ) && k.activity.find(e => e=="OFF-ROADING") && k.state==ThisState ){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 14 ) && k.activity.find(e => e=="BOATING") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 15 ) && k.checkbox.find(e => e=="DRINKING WATER") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 16 ) && k.checkbox.find(e => e=="SHOWER") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 17 ) && k.checkbox.find(e => e=="BARBEQUE GRILLS") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 18 ) && k.checkbox.find(e => e=="WIFI") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 19 ) && k.checkbox.find(e => e=="GOOD FOR GROUPS") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 20 ) && k.checkbox.find(e => e=="CHARGING POINTS") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 21 ) && k.checkbox.find(e => e=="TOILETS") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%} else  if (Number(cost.value== 22 ) && k.checkbox.find(e => e=="PICNIC TABLES") && k.state==ThisState){%>
                        <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                            <div class="campground_img">
                                <img class="img-fluid rounded" src="<%=k.img1%>" alt="">
                            </div>
                            <div class="campground_text pl-3">
                                <h4 class="card-title"><%=k.title%> <span class="float-right d-block d-md-inline"><i
                                            class="fas fa-rupee-sign"></i><%=k.price%></span></h4>
                                <p class="card-text"><%=k.desc.substring(0,50)%>....</p>
                                <p><i class="fas fa-map-marker-alt"></i> <%=k.city%> , <%=k.state%></p>
                                <a href="/ycampo/<%=k._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                                <% if (k.rating === 0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (k.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (k.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                            </div>
                        </div>
                    <%}%>
               <%});%>

            <%} else{%>
            <% camp.forEach(function(item){ %>
            <%if(item.state==ThisState){%>
                    <div class="campground_box d-flex justify-content-start border shadow p-2 mb-5 bg-white rounded d-block">
                        <div class="campground_img">
                            <img class="img-fluid rounded" src="<%=item.img1%>" alt="">
                        </div>
                        <div class="campground_text pl-3">
                            <h4 class="card-title"><%=item.title%> <span class="float-right d-block d-md-inline"><i
                                        class="fas fa-rupee-sign"></i><%=item.price%></span></h4>
                            <p class="card-text"><%=item.desc.substring(0,50)%>....</p>
                            <p><i class="fas fa-map-marker-alt"></i> <%=item.city%> , <%=item.state%></p>
                            <a href="/ycampo/<%=item._id%>" class="btn btn-primary float-right mr-2">READ MORE</a>
                            <% if (item.rating === 0) { %>
                            <em>No reviews yet.</em>
                            <% } else { %>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star <% if (item.rating > 1.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (item.rating > 2.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (item.rating > 3.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (item.rating > 4.5) { %> checked <% } %>"></span>
                            <% } %>
                        </div>
                    </div>
               
            <% } %>
            <% }); %>
        <%}%>
        </div>
        <div class="col-lg-4">
            <div id="map" style="width: 100%; height: 100vh;">
                <%if(ThisState=="HIMACHAL PRADESH"){%>
                    <script>
                        L.mapbox.accessToken = 'pk.eyJ1IjoiamF0aW5rdW1hcjAxMTAiLCJhIjoiY2s4ZTh1MmF6MDdpbzNsbzA4bDEyeXVoZyJ9.HYvlf_nayigLpKK3u6zfFw';
                        var map = L.mapbox.map('map')
                            .setView([32.084206, 77.571167], 9)
                            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
                    </script>
                <%}else if(ThisState=="KARNATAKA"){%>
                    <script>
                        L.mapbox.accessToken = 'pk.eyJ1IjoiamF0aW5rdW1hcjAxMTAiLCJhIjoiY2s4ZTh1MmF6MDdpbzNsbzA4bDEyeXVoZyJ9.HYvlf_nayigLpKK3u6zfFw';
                        var map = L.mapbox.map('map')
                            .setView([12.972442, 77.580643], 9)
                            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
                    </script>
                <%}else if(ThisState=="TAMIL NADU"){%>
                    <script>
                        L.mapbox.accessToken = 'pk.eyJ1IjoiamF0aW5rdW1hcjAxMTAiLCJhIjoiY2s4ZTh1MmF6MDdpbzNsbzA4bDEyeXVoZyJ9.HYvlf_nayigLpKK3u6zfFw';
                        var map = L.mapbox.map('map')
                            .setView([11.127123, 78.656891], 9)
                            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
                    </script>
                <%}else if(ThisState=="GOA"){%>
                    <script>
                        L.mapbox.accessToken = 'pk.eyJ1IjoiamF0aW5rdW1hcjAxMTAiLCJhIjoiY2s4ZTh1MmF6MDdpbzNsbzA4bDEyeXVoZyJ9.HYvlf_nayigLpKK3u6zfFw';
                        var map = L.mapbox.map('map')
                            .setView([15.2993, 74.1240], 9)
                            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
                    </script>
                <%}%>
            </div>
        </div>   
        
    </div>
</div>
<%-include("./partials/footer") %>